apiVersion: v1
kind: Service
metadata:
  name: {{ include "example-service.fullname" . | trunc 63 | trimSuffix "-" }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: 8080
  selector:
    app.kubernetes.io/name: {{ include "example-service.name" . }}
