apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: example-service
  namespace: argocd
spec:
  project: default
  source:
    repoURL: "https://github.com/<org>/gitops-starter"
    path: "gitops/charts/example-service"
    targetRevision: HEAD
    helm:
      values: |-
        image:
          repository: ghcr.io/<org>/example-service
          tag: latest
  destination:
    server: https://kubernetes.default.svc
    namespace: default
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
